<!doctype html>
<html>
  <head>
    <title>Datei-Upload</title>
    <link rel="stylesheet" href="../static/styles_upload.css">
  </head>
  <body>
    <h1>Wireshark-Datei hochladen</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
      <label for="file" class="custom-file-label">Datei auswählen</label>
      <input type="file" id="file" name="file" accept=".pcap,.pcapng" class="custom-file-input">
      <br>
      <select name="analyse_type">
        <option value="top">Top 5. Pakete</option>
        <option value="ip_count">IP-Adressen zählen</option>
        <option value="packet_count">Pakettypen zählen</option>
        <option value="dns">DNS-Analyse</option>
        <option value="ping">Ping-Analyse</option>
        <option value="dhcp">DHCP-Analyse</option>
        <!-- Fügen Sie weitere Optionen hinzu, je nach den verfügbaren Analysen... -->
    </select>
    
        <!-- Fügen Sie weitere Optionen hinzu, je nach den verfügbaren Analysen... -->
      </select>
      <br>
      <input type="submit" value="Hochladen">
    </form>
  </body>
</html>